/* Master Styles */

* {
  padding: 0px;
  border-radius: 8px;
  margin: 0px;
  font-family: Cambria;
  color: white;
  -ms-overflow-style: none;
  scrollbar-width: none;
  user-select: none;
}

*::-webkit-scrollbar {
  display: none;
}

html,
body {
  height: 100%;
  width: 100%;
}

#sheet > * {
  padding: 16px;
}

body {
  background-image: linear-gradient(black, gray);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h2 {
  text-decoration: underline;
}

input {
  background: transparent;
  padding: 2px;
  border-radius: 2px;
  border-style: none;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: inherit;
}

input[type="checkbox"] {
  height: 20px;
  width: 20px;
  border: 2px solid white;
  border-radius: 50%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

hr {
  width: 100%;
}

textarea {
  height: 500px;
  width: 100%;
  background: transparent;
  padding: 8px;
  border: 2px solid white;
  outline: none;
  resize: none;
  overflow-y: scroll;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* Master Animations */

input:hover {
  outline: 2px solid white;
}

/* Section Styles */

#message {
  position: absolute;
  top: 0vw;
  right: 0vw;
}

#info {
  padding: 8px;
  display: grid;
  grid-template-columns: repeat(4, auto);
  overflow-x: scroll;
}

.infoContainer {
  height: 48px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#experienceContainer,
.attributePointsAvailableContainer,
.proficiencyBonusContainer {
  display: flex;
}

.attributePointsAvailableContainer > label,
.proficiencyBonusContainer > label {
  margin-right: 4px;
}

#attributes,
#skills,
#equipment,
#dice,
#combat {
  display: grid;
  grid-template-columns: repeat(6, auto);
  justify-content: space-between;
  overflow-x: scroll;
}

.attributeContainer,
.skillContainer,
.equipmentSlot,
.combatContainer {
  height: 128px;
  width: 120px;
  border: 2px solid white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.infoContainer > label,
.attributeContainer > label,
.skillContainer > label,
.slotContainer > label,
.combatContainer > label,
.dieContainer > label {
  font-weight: bold;
}

.pointsContainer {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.attributePoints,
.skillModifier {
  font-size: 36px;
  font-weight: bold;
}

.pointsButton {
  height: 24px;
  width: 24px;
  background: transparent;
  border-style: none;
  border: 2px solid white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

#skills {
  grid-row-gap: 20px;
}

.skillContainer > label,
.skillModifier,
.relevantAttributeContainer {
  pointer-events: none;
  text-align: center;
}

.relevantAttributeContainer {
  display: flex;
}

.slotContainer,
.dieContainer {
  height: 154px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.button {
  height: 32px;
  width: 72px;
  border: 2px solid white;
  border-radius: 8px;
  margin-bottom: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inventoryContainer {
  height: 248px;
  border: 2px solid white;
  margin-top: 8px;
  overflow-x: scroll;
  overflow-y: scroll;
}

table {
  width: 100%;
  table-layout: fixed;
  position: relative;
}

th {
  background: white;
  position: sticky;
  top: 0;
  color: black;
}

th,
td {
  padding: 4px;
  text-align: center;
}

td > input {
  width: 100%;
  text-align: center;
}

.optionsContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.optionsContainer > .button {
  height: 100%;
  width: 45%;
  margin: 0px;
}

.combatContainer > input {
  height: 90%;
  width: 90%;
  font-size: 64px;
  text-align: center;
}

#hitPointsContainer,
#deathSavesContainer {
  height: 90%;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#hitPointsContainer > input {
  width: 100%;
  font-size: 38px;
  text-align: center;
}

.deathSavesChecks {
  height: 45%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
}

.checks {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.die {
  height: 120px;
  width: 120px;
  border: 2px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 64px;
  font-weight: bold;
}

/* Section Animations */

.pointsButton:active {
  background-color: white;
  color: black;
}

.active {
  background-color: white;
}

.active > *,
.active > * > * {
  pointer-events: none;
  color: black;
}

.button:active {
  background-color: white;
  color: black;
}
